.chat{
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    .top{
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;
        position: relative;
        .iconBack{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            &:hover{
                color: red;
            }
            @media screen and (max-width: 1350px) {
                display: block;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .user{
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 20px;

            img{
                height: 60px;
                width: 60px;
                border-radius: 50px;
                object-fit: cover;
                @media screen and (max-width: 545px) {
                    height: 40px;
                    width: 40px;
                }
            }

            .texts{
                display: flex;
                flex-direction: column;
                gap: 5px;
                span{
                    font-size: 18px;
                    font-weight: 600;
                }

                p{
                    font-size: 14px;
                    font-weight: 300;
                    color: #a5a5a5;
                }
                @media screen and (max-width: 545px) {
                    span{
                        font-size: 14px;
                    }
                    p{
                        font-size: 10px;
                    }
                }
            }
        }
        .icons{
            display: flex;
            gap: 20px;
            img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
        .close{
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 30px;
            cursor: pointer;
            &:hover{
                color: rgba(248, 113, 113, 0.807);
            }
            @media screen and (max-width: 1350px) {
                display: none;
            }
        }
    }
    .center{
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: fit-content;
        .message{
            max-width: 40%;
            height: auto;
            display: flex;
            gap: 20px;
            &.own{
                max-width: 80%;
                height: max-content;
                align-self: flex-end;
                .texts{
                    .textMessage{
                        background-color: var(--bg-color-message);
                        color: var(--text-color-message);
                    }
                    .file{
                        padding: 20px;
                        background-color: var(--bg-color-message);
                        border-radius: 10px;
                        text-decoration: none;
                        color: var(--text-color-message);
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: space-between;
                        .icon_file{
                            font-size: 20px;
                            color: var(--file-color-message);
                            opacity: 0.8;
                        }
                    }
                    
                    span{
                        justify-content: start;
                    }
                }
            }
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
                object-fit: cover;
            }
            .texts{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;
                p{
                    padding: 20px;
                    background-color: rgba(17,25,40,0.3);
                    border-radius: 10px;
                    @media screen and (max-width: 545px) {
                        font-size: 14px;
                    }
                }
                .file{
                    padding: 20px;
                    background-color: rgba(17,25,40,0.3);
                    border-radius: 10px;
                    text-decoration: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media screen and (max-width: 545px) {
                        span{
                            font-size: 12px;
                        }
                    }
                    .icon_file{
                        font-size: 20px;
                        color: azure;
                        opacity: 0.8;
                    }
                }
                span{
                    font-size: 13px;
                    display: flex;
                    justify-content: end;
                }
                img{
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                    border: 1px solid #dddddd35;
                    @media screen and (max-width: 545px) {
                        height: 100px;
                    }
                }
            }
        }

        .message_empty{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto 0;
            gap: 10px;
        }
    }
    .bottom{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;
        .icons{
            .more{
                display: none;
            }
            .option,.option_responsive{
                display: flex;
                gap: 20px;
            }
        }
        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        input{
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            outline: none;
            color: white;
            border-radius: 10px;
            padding: 14px;
            font-size: 16px;
        }

        .emoji{
            position: relative;
            .picket{
                position: absolute;
                bottom: 50px;
                right: 0;
            }
        }

        .sendButton{
            background-color: #5183fe;
            color: white;
            padding: 10px;
            border-radius: 50%;
            border: none;
            outline: none;
            cursor: pointer;
        }
        @media screen and (max-width: 545px) {
            gap: 10px;
            padding: 10px;
            .icons{
                position: relative;
                .more{
                    display: block;
                }
                .option{
                   position: absolute;
                   top: -50px;
                   left: -10px;
                   padding: 3px 10px;
                   border: 2px solid #dddddd35;
                   border-radius: 5px;
                }
                .option_responsive{
                    display: none;
                }
            }
            input{
               max-height: 34px;
               width: 100%;
            }
            .sendButton{
                padding: 5px;
            }
        }
    }
    .preview{
        max-height: 200px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        .image{
            position: relative;
            img{
                max-width: 200px;
                max-height: 200px;
                object-fit: contain;
            }
            .close{
                position: absolute;
                right: -15px;
                top: -15px;
                font-size: 2rem;
                cursor: pointer;
                &:hover{
                    color: rgba(255, 47, 47, 0.807);
                }
            }
        }
        .file{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            background-color: #dddddd35;
            position: relative;
            .close{
                position: absolute;
                right: -15px;
                top: -15px;
                font-size: 2rem;
                cursor: pointer;
                &:hover{
                    color: rgba(255, 47, 47, 0.807);
                }
            }
        }
       
    }
}